@import "libs"
@import "animate"
@import "vars"
@import "_mixins/get-vw"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto
	
/*------------------ MY STYLE -----------------
	HEADER
	SLIDER
	ARTICLE
	PRODUCT
	FOOTER */
	
/*------ scroll webkit only ------*/
::-webkit-scrollbar-track
	background-color: #212121

::-webkit-scrollbar-thumb
	border-radius: 5px
	background-color: $orangeDark

::-webkit-scrollbar
	width: 11px

	

.container
	display: flex
	flex-direction: column
	
	height: 100%
	max-width: $innerGrid
	width: 100%
	margin: 0 auto
	
	
.btn
	display: inline-block
	margin-left: 15px
	padding: 13px 35px
	font: 400 20px $default-font
	border: 1px solid $black
	text-decoration: none
	text-align: center
	background-image: linear-gradient(to left,transparent,transparent 50%,$orangeDark 50%,$orangeDark)
	background-position: -100% 0
	background-size: 200% 100%
	transform: skew(-35deg)
	color: $black
	cursor: pointer
	transition: all .3s ease-in
	
	&:hover
		background-position: 0 0
		color: $black
	
	&__text
		display: inline-block
		transform: skew(35deg)
	
	&--yellow
		border: 1px solid $yellowLight
		color: $green
		
/*---------- header background ---------*/
.wrap-head
	position: relative
	background: $blackLight
	
	&::before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 271px 271px 0 0
		border-color: $orangeDark transparent transparent transparent
		z-index: 0
		
	&::after
		content: ""
		position: absolute
		right: 0
		top: 150px
		width: 0
		height: 0
		border-style: solid
		border-width: 510px 470px 510px 0
		border-color: transparent $orangeDark transparent transparent
		z-index: 1
		
.slider
	&::before
		content: ""
		position: absolute
		top: -115px
		right: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 220px 200px 220px 0
		border-color: transparent $yellowDark transparent transparent
		z-index: 0
	
	&::after
		content: ""
		position: absolute
		top: 174px
		left: 55px
		width: 0
		height: 0
		border-style: solid
		border-width: 76px 76px 0 0
		border-color: $yellowDark transparent transparent transparent
		z-index: 1

.article
	&::before
		content: ""
		position: absolute
		left: 0
		bottom: 430px
		width: 0
		height: 0
		border-style: solid
		border-width: 43px 0 43px 43px
		border-color: transparent transparent transparent $yellowDark
		z-index: 1
	
	&::after
		content: ""
		position: absolute
		left: 0
		bottom: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 390px 0 24px 390px
		border-color: transparent transparent transparent $orangeDark
		z-index: 0

/*------------------ HEADER -----------------*/

.header
	position: relative
	width: 100%
	padding-top: 15px
	padding-bottom: 25px
	//border-bottom: 2px dashed $yellowDark
	background: linear-gradient(to right, transparent 80%, $yellowDark 0%) bottom/10px 2px repeat-x
	z-index: 1
	
	&__wrap
		display: flex
		flex-direction: row
		align-items: baseline
		justify-content: space-between
	
	&__logo-link
		display: inline-block
		margin-left: 48px
		margin-right: 10px
	
	&__logo-img
		@extend %img-responsive
	
	&__menu
		display: flex
	
	&__list
		display: flex
		justify-content: space-between
		
		max-width: 100%
		margin: 0
		margin-right: 10px
		padding: 0
		list-style-type: none
	
	&__item
		display: flex
		align-items: center
		
		margin: 0 6px
		
		& + li:before
			content: "|"
			margin: 0 12px 0 0
			color: $orangeDark
	
	&__link,
	&__button
		display: block
		padding: 16px 2px
		border-top: 2px solid transparent
		font-size: 17px
		font-weight: 400
		text-transform: uppercase
		text-decoration: none
		white-space: nowrap
		color: $white
		transition: transform .25s
		
		&:hover,
		.header__item--active &
			color: $green
			
	&__button
		display: inline-block
		padding-right: 19px
		padding-left: 12px

/*------------------ SLIDER -----------------*/
.slider
	padding-top: 82px
	margin-bottom: 30px
	
	&__init
		z-index: 2
		
	&__item
		outline: none
		
	&__wrap
		display: flex
		
		position: relative
		
	&__content
		flex: 0 1 443px
		
		padding-left: 3px
		z-index: 1
		
	&__title
		margin-bottom: 35px
		font-size: 65px
		font-weight: 400
		font-style: italic
		text-transform: uppercase
		line-height: 57px
		letter-spacing: -3.15px
		color: $white
		transform: translate3d(0, 0, 0)
	
	&__text
		margin-bottom: 45px
		font-size: 16px
		font-weight: 400
		line-height: 20px
		color: $white
		
	&__image-wrap
		display: flex
		align-items: center
		justify-content: center
		flex: 1 2 auto
		
	&__image
		@extend %img-responsive
		

/*------------------ SLIDER DOTS -----------------*/
.slick-dots
	display: block
	width: 100%
	padding: 0
	margin: 0
	margin-top: 7%
	list-style: none
	text-align: center
	
.slick-dots li
	display: inline-block
	width: 20px
	height: 20px
	margin: 0 5px
	padding: 0
	cursor: pointer
	
.slick-dots li button
	display: inline-block
	padding: 5px 7px
	border: 1px solid $orangeDark
	background: $orangeDark
	font-size: 0
	line-height: 0
	color: transparent
	cursor: pointer
	outline: none
	transform: skew(-35deg)
	transition: all .3s ease-in
	
.slick-dots li.slick-active	button
	background: $white

/*------------------ SLIDER ANIMATE -----------------*/
.slick-active
	& .slider__image
		animation-name: fadeInRight
		animation-duration: 1s
		animation-delay: .3s
		animation-fill-mode: both
		
	& .slider__title
		animation-name: slideInDown
		animation-duration: .75s
		animation-fill-mode: both

	& .btn
		animation-name: slideInRightBtn
		animation-duration: 1s
		animation-delay: .2s
		animation-fill-mode: both


/*------------------ ARTICLE -----------------*/
.article
	margin-top: 63px
	
	&__wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		
	&__item
		display: flex
		justify-content: space-between
		flex-wrap: nowrap
		
		//flex: 0 1 524px
		flex: 0 1 48%
		
		position: relative
		height: 266px
		margin-top: 35px
		overflow: hidden
		background: $black
		z-index: 2
		
		&::before
			content: ""
			display: inline-block
			position: absolute
			right: 0
			bottom: 0
			width: 0
			height: 0
			border-style: solid
			border-width: 420px 290px 0 0
			border-color: transparent $yellowLight transparent transparent
			z-index: 0
			
		&--yellow
			background: $yellowLight
			
			&::before
				border-color: transparent $black transparent transparent
			
			.article__title,
			.article__text,
			.article__btn
				color: $black
				
			.article__icon
				stroke: $black
				
			.article__btn:hover .article__icon
				fill: $black
			
				
	&__content
		display: flex
		flex-direction: column
		justify-content: center
		
		width: 50%
		//margin-left: 38px
		margin-left: 7%
		z-index: 1
		
	&__title
		margin: 15px 0 20px 0
		font-size: 25px
		font-weight: 700
		line-height: 35px
		text-transform: uppercase
		color: $white
		
	&__text
		margin: 0
		padding-right: 50px
		font-size: 16px
		font-weight: 300
		line-height: 20px
		letter-spacing: 0.1px
		color: $white
		
	&__btn
		display: inline-block
		width: 80px
		//padding: 20px 0 0 5px
		padding: 7% 0 0 5px
		font-size: 20px
		font-weight: 700
		text-decoration: none
		color: $yellowDark
	
	&__icon
		display: inline-block
		position: relative
		top: 2px
		height: 16px
		width: 12px
		margin-left: 3px
		stroke: $yellowDark
		fill: none
		stroke-width: 2px
		transition: fill .5s linear
	
		.article__btn:hover &
			fill: $yellowDark
			
	&__image
		position: relative
		right: -1px
		z-index: 1
		
		@extend %img-responsive

/*------------------ PRODUCT -----------------*/
.product
	position: relative
	width: 100%
	background: $blue
	
	&::before
		content: ""
		display: block
		position: absolute
		top: -190px
		left: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 190px 100vw
		border-color: transparent transparent $blue transparent
		z-index: 1



/*------------------ FOOTER -----------------*/


@import "fonts"
@import "media"
